<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formulario de prueba de HTML5</title>
</head>
<body>
    <form action="" method="get">
        <br />
        <label>Nombre:  </label>
        <input type="text" name="Nombre" size="50" autofocus />
        <br />
        <br />
        <label>Correo electrónico:  </label>
        <input type="email" name="correo" size="50" required />
        <br />
        <br />
        <label>URL:  </label>
        <input type="url" name="url" size="100" value="Escribe la URL de tu página web personal" />
        <br />
        <br />
        <label>Fecha:  </label>
        <input type="date" name="fecha" />
        <br />
        <br />
        <label>Tiempo:  </label>
        <input type="time" name="tiempo" />
        <br />
        <br /><label>Fecha y Hora:  </label>
        <input type="datetime" name="fechayhora" />
        <br />
        <br />
        <label>Mes:  </label>
        <input type="month" name="mes" />
        <br />
        <br />
        <label>Semana:  </label>
        <input type="week" name="semana" />
        <br />
        <br />
        <label>Número (min -10, mas 10):  </label>
        <input type="number" name="numero" value="0" min="-10" max="10" step="1" />
        <br />
        <br />
        <label>Teléfono:  </label>
        <input type="tel" name="telefono" />
        <br />
        <br />
        <label>Término de Búsqueda:  </label>
        <input type="search" name="busca" />
        <br />
        <br />
        <label>Color favorito:  </label>
        <input type="color" name="color" />
        <br />
        <br />
        <input type="submit" value="Enviar"
    </form>
</body>
</html>
