<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listas</title>
</head>
<body>
    <div>
        <h1><b>Internet</b></h1>

        <h3><b>Contenido</b></h3>

        <ol>
            <li>Principales protocolos</li>
            <li>Formas de conectarse</li>
        </ol>

        <h3><b>1. Principales protocolos</b></h3>
        <ul>
            <li type="disc">Transmision de ficheros:</li>
            <ul>
                <li type="circle">FTP</li>
            </ul>
            <li type="disc">Correo electrónico:</li>
            <ul>
                <li type="circle">IMAP</li>
                <li type="circle">POP</li>
                <li type="circle">SMTP</li>
            </ul>
        </ul>
        <h3><b>2. Formas de conectarse</b></h3>
        
            <dd>Red Telefónica Conmutada (RTC)</dd>
            <dd style="margin-left:35px">La línea telefónica de toda la vida. Para acceder a internet es necesario un módem.</dd>
            
            <dd>Red Digital de Servicios Integrados(RDSI)</dd>
            <dd style="margin-left:35px">Una línea telefónica especial. Para acceder a internet es necesario un módem RDSI.</dd>

            <dd>Línea de Abonado Digital Asimétrica</dd>
            <dd style="margin-left:35px">Se basa en la conversión de una línea RTC en una línea de alta velocidad. Para acceder a internet es necesario un módem ADSL.</dd>
 
            <dd>Fibra Óptica</dd>
            <dd style="margin-left:35px">Una línea de fibra óptica. Normalmente la fibra óptica no llega hasta el usuario final, por lo que el término mas apropiado es Fibra híbrida coaxial.</dd>
    </div>
</body>
</html>
